* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden auto;
  font-family: sans-serif;
  background-color: #000;
}

/* #root::-webkit-scrollbar {
  display: none;
} */
body::-webkit-scrollbar {
  display: none;
}
