/* header */
header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(22px);
  display: flex;
  justify-content: center;
}

/* navbar */
.navbar {
  border-bottom: 0.5mm solid #291d43;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  z-index: 999;
  font-family: "Montserrat", sans-serif;
}

/* left-container */
.container-left {
  height: 100%;
  display: flex;
  align-items: center;
}

.container-left div {
  margin-right: 2rem;
}

.container-left ul {
  margin-left: 4rem;
}

/* logo */
.logo img {
  height: 80px;
  margin-top: 8px;
}

/* navbar-opt */
.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  position: relative;
  cursor: pointer;
}

.nav-list li {
  padding: 2rem 0;
  font-size: 16px;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
}

/* nav-opt > icon  */
.nav-list li span .caret-icon {
  transition: transform 0.18s ease;
}

.nav-list li:hover .fa-caret-up {
  transform: rotate(180deg);
}

/* drop-down-list */
.drop-down-products-list {
  position: relative;
}

.drop-down-products-list .list-heading {
  position: absolute;
  top: 99%;
  left: -60px;
  width: 300px;
  z-index: 999;
  /* background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0%, rgba(14, 10, 24, 0.85) 27%, rgba(32, 20, 59, 0.85) 72%, rgba(43, 26, 81, 0.85) 100%); */
  background: rgba(0, 0, 0, 0.9);
  /* background: rgba(50, 50, 50, 0.8);
    backdrop-filter: blur(4px); */
  padding: 0.5rem 0;
  /* border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem; */
  display: none;
}

.list-heading li {
  padding: 0.5rem 0 0.5rem 2rem;
  margin: 1rem 0;
  list-style: none;
}

/* ---------------------------------------------- */

/* drop-right-side-list */
.nav-list .drop-right-products-list .color:hover {
  color: #F2963A;
}

.drop-right-products-list {
  position: relative;
}

.drop-right-products-list .list-items {
  /* border-radius: 2mm; */
  width: 230px;
  display: none;
  position: absolute;
  top: 0;
  right: -76.7%;
  z-index: 999;
  /* background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0%, rgba(14, 10, 24, 0.85) 27%, rgba(32, 20, 59, 0.85) 72%, rgba(43, 26, 81, 0.85) 100%); */
  background: rgb(0, 0, 0, 0.9);
  /* background: rgba(71, 71, 71, 0.5);
    backdrop-filter: blur(5px); */
}

.back-button {
  display: none;
}

/* hover effect for visibility hiding it initially */
.drop-down-products-list .list-heading {
  display: none;
}

.drop-right-products-list .list-items {
  display: none;
}

/* this media query if for hover effect for screen size more the 892px */
@media (min-width: 893px) {

  /* hover effect for visibility */
  .drop-down-products-list:hover .list-heading,
  .list-heading:hover {
    display: block;
  }

  .drop-right-products-list:hover .list-items {
    display: block;
  }

  /* .list-items .fa-caret-right {
    display: none;
  } */
}

/* -------------------------animation------------------------- */
header {
  opacity: 0;
  transform: translateY(-80px);
  animation: appear 1s forwards;
}

@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



/* -------------------------media queries------------------------- */

.material-symbols-outlined {
  display: none;
  position: absolute;
  left: 8%;
  font-size: 1.75rem;
}

.Xmark {
  display: none;
}

@media (max-width:1160px) {
  .container-left ul {
    margin-left: 1rem;
  }
}

@media (max-width:892px) {
  .navbar {
    justify-content: space-between;
  }

  .container-left .logo {
    position: absolute;
    left: 40%;
  }

  .material-symbols-outlined {
    display: block;
    cursor: pointer;
  }

  .nav-list {
    display: block;
    margin: 1rem;
    position: absolute;
    top: 1%;
    left: 2%;
    background: #fff;
    color: #000;
    height: 680px;
    border-radius: 2mm;
    padding: 3.5rem 2rem 2rem 2rem;
    overflow: hidden;
    width: 0px;
    visibility: hidden;
    opacity: 0;
    transition: width .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
  }

  .navbar .nav-list.show-menu {
    margin: 1rem 1rem 1rem 1rem;
    width: 350px;
    opacity: 1;
    visibility: visible;
  }

  .nav-list li {
    padding: 0.75rem 1rem;
    font-size: 1.5rem;
  }

  .nav-list li a {
    font-size: 1.5rem;
    color: #000;
  }

  .nav-list li span .fa-caret-up {
    rotate: 180deg;
    font-size: 20px;
    position: absolute;
    top: 30%;
    right: 5%;
  }

  .nav-list li:hover .fa-caret-up {
    transform: none;
  }

  .navbar .nav-list .Xmark {
    cursor: pointer;
    display: block;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    margin-bottom: 3rem;
    border: 0.1mm solid #b9b9b9;
    border-radius: 50%;
    background: transparent;
  }

  .list-heading {
    display: none;
    transform: translateX(100%);
    opacity: 0;
  }

  .list-heading.menu-open {
    display: block;
    width: 100%;
    top: -5%;
    background: #e1e1e1;
    margin: 0 3.2rem;
    font-size: 16px;
    border-radius: 2mm;
    box-shadow: 0 2px 24px #0000003b;
    animation: slideInFromRight 0.3s ease forwards;
  }

  .list-heading.menu-open a {
    font-size: 16px;
  }

  .list-heading.menu-closing,
  .list-heading.menu-closing a {
    display: block;
    top: -5%;
    left: 0;
    width: 100%;
    animation: slideOutToRight 0.3s ease forwards;
    background: #e1e1e1;
    border-radius: 2mm;
    font-size: 16px;
  }

  .drop-right-products-list:hover .list-items {
    display: block;
    left: 0;
    background: #efefef;
    border-radius: 2mm;
    padding: 0.5rem;
    width: 260px;
    box-shadow: 0 2px 24px #0000003b;
  }

  .list-items li {
    padding: 0.5rem 0 0;
    margin: 0;
  }

  /* .list-items .fa-caret-right {
    display: block;
    text-align: right;
    padding-right: 1rem;
  } */

  @keyframes slideInFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideOutToRight {
    from {
      transform: translateX(0);
      opacity: 1;
    }

    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  .list-heading .drop-right-products-list {
    font-size: 16px;
  }

  .list-heading .back-button {
    display: inline;
    font-size: 12px;
    border-bottom: 0.01mm solid #000;
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .back-button .fa-caret-right {
    padding-right: 0.5rem;
  }
}

@media (max-width:630px) {
  .container-left .logo {
    left: 37%;
  }

  .navbar .nav-list.show-menu {
    width: 88%;
  }
}

@media (max-width:490px) {
  .container-left .logo {
    left: 34%;
  }
}

@media (max-width:391px) {
  .container-left .logo {
    left: 30%;
  }
}

@media (max-width:335px) {
  .container-left .logo {
    left: 26%;
  }
}